body {
  /* background-color: #DD4444; */
  background-color: rgb(200, 200, 200);
  /* hex colors: RRGGBB  */
}

h1 {
  font-size: 3em;
  text-align: center;
}

h3 {
  border: solid black;
  border-left: 0px;
  border-right: 0px;
  margin: 0px 20px;
}

.right {
  position: fixed;
  right: 20px;
}

img {
  max-width: 100px;
  display: block;
}
